html {
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    width: 80vw;
    min-height: 100vh;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

.header__items li a {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

.header__items li a:hover {
    color: #35E6FE;
}

.heading {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 200px;
}

textPath {
    fill: #000000;
}

textPath:nth-child(1) {
    font-size: 15px;
  }
  textPath:nth-child(2) {
    font-size: 20px;
  }
  textPath:nth-child(3) {
    font-size: 25px;
  }

.features h2 {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-weight: 400;
    margin-bottom: 60px;
}

.features__container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap; 
    width: 100%;
    margin-bottom: 50px;
}

.features__list {
    position: relative;
    background: #eeeeee;
    min-width: 30%;
    border-radius: 15px;
    padding: 40px;
    text-align: center;
    color: #000000; 
}

.features__list p {
    padding-top: 30px;
}

.features__list::before {
    content: '';
    width: 10px;
    height: 10px;
    background: #35E6FE;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    top: 15px;
}

.skills {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: #35E6FE solid 3px;
}

.skills__text {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.skills__list {
    text-align: center;
}

.skills__list li {
    padding-bottom: 5px;
}

.about-text {
    display: flex;
    width: 50%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 30px;
}

.about-text p {
    text-align: left;
    line-height: 1.8;
}

a {
    color: #35E6FE;
    transition: all 0.5s;
}



